numpy>=1.21.2,<1.23.3  # This range works for supervision
matplotlib
opencv-python
pandas
seaborn
scipy
supervision==0.25.0
# Add all other packages from your original requirements without specific versions
alembic
annotated-types
anyio
appnope
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
click
contourpy
cycler
decorator
defusedxml
dill
dnspython
docopt
email_validator
executing
fastapi
fastapi-cli
fastjsonschema
filelock
fonttools
fsspec
greenlet
h11
httpcore
httptools
httpx
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
Mako
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mpmath
nbclient
nbconvert
nbformat
networkx
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
pipreqs
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
py-cpuinfo
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
referencing
requests
rich
rpds-py
ultralytics
uvicorn
watchfiles
wcwidth
webencodings
websockets
yarg
